<div class="text-center">
  <h1>予約のキャンセル</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @reservation, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :course, 'コース   　　　 ' %>
        <%= @reservation.course %>
        <%= f.hidden_field :course, :value =>'' %>
      </div>
      
      <div class="form-group">
        <%= f.label :date, '日付    　　　　' %>
        <%= @reservation.date.to_s.to_date.strftime("%Y年%m月%d日") %>
      </div>

      <div class="form-group">
        <%= f.label :place, '研修室   　　　 ' %>
        <%= @reservation.place %>
      </div>
      
    　<div class="form-group">
        <%= f.label :remarks, '備考    　　　　' %>
        <%= @reservation.remarks %>
        <%= f.hidden_field :remarks, :value =>'' %>
      </div>
      
      <%= f.hidden_field :user, :value =>'' %>
      <p>以上の内容をキャンセルしますか？</p>
      <%= f.submit 'キャンセルする', class: 'btn btn-primary btn-block' %>
      
    <% end %>
  </div>
</div>

<div class="text-center">
<%= link_to 'カレンダーに戻る', reservations_path %>
</div>