<div class="text-center">
  <h1>予約の変更</h1>
</div>

<div class="row">
  <aside class="col-sm-2">
    <%= link_to raw("参加者を<br/>確認・変更する"), members_path(@reservation.id), class: 'btn btn-success btn-block'%>
    <%# if current_user.id == @reservation.user_id %>
    <%= link_to "予約のキャンセル", @reservation, method: :delete, data: { confirm: "予約をキャンセルしますか?" }, class: 'btn btn-danger btn-block' %>
  </aside>
  
  <div class="col-sm-10">
    <%= form_with(model: @reservation, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :course, 'コース   　　　 ' %>
        <%#= select_tag :course, options_for_select(['新人研修',' 管理職研修', '現場責任者研修','上級管理職研修'], @reservation.course), include_blank: true %>
        <%= f.collection_select :course, Course.all, :name, :name, {include_blank: true,selected:@reservation.course} %>
      </div>
      
      <div class="form-group">
        <%= f.label :date, '日付    　　　　' %>
        <%= @reservation.date.to_s.to_date.strftime("%Y年%m月%d日") %>
      </div>

      <div class="form-group">
        <%= f.label :place, '会場    　　　　' %>
        <%= @reservation.place %>
      </div>
      
    　<div class="form-group">
        <%= f.label :remarks, '備考(２５０文字）' %>
        <%= f.text_area :remarks, value:@reservation.remarks, class: 'form-control' ,rows: 5  %>
      </div>
      <%= f.hidden_field :user, :value =>current_user.id %>
      
      <div class = "text-center" >
        <%= f.submit '変更する', class: 'btn btn-primary btn-sm' %>
        <p><a> <%= link_to 'ユーザページに戻る',user_path(current_user) %> </a></p>
      </div>
      
    <% end %>
  </div>
</div>