<h1>参加者</h1>

<div class="col-sm-6 offset-sm-3">
  <%= form_for(@form, url: members_path, method: :post) do |fb| %>
    <% num = 0 %>
    <%= fb.fields_for :members do |f| %>
      <% if num == 0 %>
        <div class="field">
          <%= f.label :name, '氏名(代表者）' %>
          <%= f.text_field :name, class: 'form-control'%>
          <%= f.hidden_field :reservation_id, :value =>target_reservation.id %>
        </div>
          <%= f.hidden_field :leader, :value =>1 %>
          <% num =  1 %>
      <% else%>
        <div class="field">
          <%= f.label :name, '氏名' %>
          <%= f.text_field :name, class: 'form-control'%>
          <%= f.hidden_field :reservation_id, :value =>target_reservation.id %>
        </div>
          <%= f.hidden_field :leader, :value =>0 %>
      <% end %>
    <% end %>
    <%= fb.submit '登録', class: 'btn btn-primary btn-block' %>
  <% end %>
</div>
